body {
    /* font-weight: normal;
    font-size: 100%; */
    background-color: #5816f1;
    /* font-family: 'Roboto', sans-serif; */
    /* margin: 0; */
    line-height: 1;
    
}
.navbar{
    background-color: #4618AC;
}

#contenedor {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    /* min-width: 100vw;
    min-height: 100vh; */
    width: 100%;
    height: 100%;
}


#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Readex Pro', sans-serif;
}

#login {
    width: 100%;
    padding: 20px 20px;
    /* margin-top: -150px; */
    background-color: #4618AC;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #6c757d;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
#login input{
    margin-bottom: 20px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #7e7e7e;
}

.btn1 {
    font-family: 'Readex Pro', sans-serif;
    color: white;
    width: 100%;
    margin-top: 10px;
}

.pie-form a{
    font-size: 90%;
    text-align: center;    
    margin-top: 10px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #6c757d !important;
}
.pie2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4618AC;
}

.t5{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
}
/* h5{
    font-size: 0px;
} */
.text{
    font-size: 80px;
    color: white;
    margin-right: 40px;
    font-family: 'Open Sans', sans-serif;
}
.logosLogin {
    color: white;
    display: flex;
    flex-direction: row;
}
.footer__content{
        background-color: var(--var-color-primario);
        /* margin-top: 150px; */
        padding: 5px; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: "Font Awesome 5 Brands" !important;
        
}   
    .footer__img img{
        width: 60%;
    } 
    .footer__img{
        width: 20%;
        
    }
@media screen and (max-width: 800px){
    .izq{
        display: none !important;
    }
    #login{
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}