:root{
    --var-color-primario: #4618AC;
    --var-color-secundario: #93c178;
    --var-color-terciario: #465c8B;
    --var-color-titulos: ;
    --var-color-resaltado: ;
    --var-color-tranparente: ;
    --var-color-body: #5816f1;
}

.background_header {
    background-color: var(--var-color-primario);
}

.background_body{
    background-color: var(--var-color-body);
}
.my-carrousel img{
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.card-img-top{
    height: 250px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.card-text{
    height: 150px;
}

.productos_destacados{
    display: flex;
    justify-content: space-evenly;
}
/*formulario de contacto*/
.form{
    justify-content: space-evenly;
}    
.ContainerContacto{
display: flex;
justify-content: center ;
align-items: center;
margin-left: 200px;
margin-top: 50px;

}


.form__content{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-items: center;

}
i{
    color: #ffff;
    font-size: 15px;
}

.form__img{
    justify-items: center;

}
.form__img img{
    width: 10%;
}
.checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
}


/*footer*/
.footer__content{
    background-color: var(--var-color-primario);
    margin-top: 500px;
    padding: 5px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
    font-size: 50px;
}


.footer__img img{
    width: 60%;
}
i{
    font-size: 15px;
}
